<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="justified-nav.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="container">

      <!-- The justified navigation menu is meant for single line per list item.
           Multiple lines will require custom code not provided by Bootstrap. -->
<!--       <div class="masthead">
        <h3 class="text-muted">Project name</h3>
        <nav>
          <ul class="nav nav-justified">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">Projects</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Downloads</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </nav>
      </div> -->

      <!-- Jumbotron -->
      <div class="jumbotron">
        <h3>SOCIAL RECOMMENDATION ENGINE FOR STACK-OVERFLOW POSTS</h3>
        <p class="lead">This project aims at performing a topic facet modelling on stackoverflow posts and recommend readings from <b>Wikibooks</b> and <b>Oracle Java Tutotails</b> based on the topics mined</p>
        <p><a class="btn btn-primary" href="explanation" role="button">View Workflow Explanation &raquo;</a></p>
      </div>
      <div class="list-group">
       <a href="post1" class="list-group-item active">
       <h4 class="list-group-item-heading">Post  1</h4>
      </a>
      </div>
       <div class="list-group">
       <a href="post2" class="list-group-item active">
       <h4 class="list-group-item-heading">Post  2</h4>
       </a>
       </div>
       <div class="list-group">
       <a href="post3" class="list-group-item active">
       <h4 class="list-group-item-heading">Post  3</h4>

       </a>
       </div>
       <div class="list-group">
       <a href="post4" class="list-group-item active">
       <h4 class="list-group-item-heading">Post  4</h4>
       </a>
       </div>
       <div class="list-group">
       <a href="post5" class="list-group-item active">
       <h4 class="list-group-item-heading">Post  5</h4>
       </a>
       </div>
       <div class="list-group">
       <a href="post6" class="list-group-item active">
       <h4 class="list-group-item-heading">Post  6</h4>
       <p class="list-group-item-text"></p>
       </a>
       </div>
       <div class="list-group">
       <a href="post7" class="list-group-item active">
       <h4 class="list-group-item-heading">Post  7</h4>
       <p class="list-group-item-text"></p>
       </a>
       </div>
       <div class="list-group">
       <a href="post8" class="list-group-item active">
       <h4 class="list-group-item-heading">Post  8</h4>
       <p class="list-group-item-text"></p>
       </a>
       </div>
       <div class="list-group">
       <a href="post9" class="list-group-item active">
       <h4 class="list-group-item-heading">Post  9</h4>
       <p class="list-group-item-text"></p>
       </a>
       </div>
      <div class="list-group">
       <a href="post10" class="list-group-item active">
       <h4 class="list-group-item-heading">Post  10</h4>
       <p class="list-group-item-text"></p>
       </a>
       </div>

      <!-- Site footer -->
      <footer class="footer">
        <p>Contact: Agalya Loganathan - 1209352296</p>
      </footer>

    </div> <!-- /container -->


    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>

